[submodule "rtaudio"]
	path = src/submodules/rtaudio
	url = https://github.com/thestk/rtaudio.git
	branch = releases
[submodule "rtmidi"]
	path = src/submodules/rtmidi
	url = https://github.com/thestk/rtmidi.git
	branch = releases
[submodule "lhasa"]
	path = src/submodules/lhasa
	url = https://github.com/fragglet/lhasa.git
[submodule "zlib"]
	path = src/submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "zziplib"]
	path = src/submodules/zziplib
	url = https://github.com/dwhinham/zziplib.git
