[submodule "src/milkyplay/drivers/generic/rtaudio"]
	path = src/milkyplay/drivers/generic/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "src/midi/rtmidi"]
	path = src/midi/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "src/compression/lhasa"]
	path = src/compression/lhasa
	url = https://github.com/fragglet/lhasa.git
[submodule "src/compression/zlib/generic"]
	path = src/compression/zlib/generic
	url = https://github.com/madler/zlib.git
