[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MilkyTracker
Comment=Fast Tracker II inspired music tracker
Comment[de]=Von Fast Tracker II inspirierter Tracker
Comment[fr]=Tracker musical inspiré par Fast Tracker II
Exec=milkytracker %f
Icon=milkytracker
Terminal=false
Keywords=MilkyTracker;FT2;Fasttracker II;Fast Tracker;tracker;tracking;modules;mods;.XM;.MOD;demoscene;chiptune;
StartupNotify=false
Categories=AudioVideo;Audio;AudioVideoEditing;Sequencer;
